/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

* {
	border: 1px solid black;
}

html {
	font-size: 62.5%;
}


body {
	background: #deccb6;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
}

header {
	background: #635340;
}

h1 {
	padding-top: .5vw;
	margin-left: 15px;
	font-family: 'Antic Slab', serif;
	font-size: 3rem;
}

h2 {
	font-family: 'Antic Slab', serif;
	margin: .5vw 0;
	font-size: 2.5rem;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
	align-items: center;
	padding-bottom: 1vw;
	margin-top: 0;
}

nav a {
	display: flex;
	border: 1px groove black;
	padding: 15px;
	width: 6vw;
	height: 2vw;
	max-width: 80px;
	max-height: 20px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
	margin: 5px;
	font-size: calc(7px + .5vw);
}

div a {
	display: flex;
	border: 1px groove black;
	padding: 15px;
	width: 15vw;
	height: 2vw;
	max-width: 120px;
	max-height: 20px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
	margin: .5vw;
	font-size: calc(7px + .5vw);
}

.img-container {
	display: flex;
	width:30%;
}

.my-pic {
	width: 100%;
	border-radius: 100%;;
}

.intro-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	margin: 2% 0;
	padding: 2% 0;
	font-size: calc(7px + .5vw);
}

.intro {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	width: 40%;
	height: 65vw;
	max-height: 400px;
	padding: 2%;
}

div.intro > p {
	padding: .5vw;
	margin-top: 5px;
}

.project-container {
	height: 45vw;
	max-height: 400px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.project {
	display: flex;
	flex-flow: column nowrap;
	width: 20%;
	height: 20vw;
	max-height: 200px;;
	margin: .5vw;
	align-items: center;
	padding-bottom: 0;
	font-size: calc(7px + .5vw);
}

footer {
	background: #cfa87a;
}

.contact-container {
	display: flex;
	height: 20vw;
	max-height: 120px;
	align-items: center;
	flex-flow: column nowrap;
}

div.contact-container h2 {
	height: calc(4vw + 10px);
	max-height: 40px;
}
div img {
	width: 100%;
}

address {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	padding: .5vw;
}

address a {
	text-decoration: none;
	font-style: normal;
	color: black;
}

address span {
	display: flex;
	align-items: center;
}

address img {
	width: 16px;
}