html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* gereral styling */
* {
	box-sizing: border-box;
	max-width: 100%;
}
html {
	font-size: 62.5%;
}
body {
	background: #deccb6;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
}
header {
	background: #635340;
}
header, footer {
	padding: 5px;
	width: 100%;
}
h1, h2, h3 {
	font-family: 'Antic Slab', serif;
}
h1 {
	margin: 1%;
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
	margin: 2% 0;
}
a {
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 2rem;
}

/*header styling*/

nav {
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	width: 30%;
	margin-left: 2%;
}
nav a {
	display: flex;
	width: 25%;
	padding: 20px 0;
	align-items: center;
	justify-content: center;
	margin: 5px;
	border: 1px groove black;
}
.home-tab {
	background: black;
	color: #635340;
}

/*intro styling*/

.projects-tab2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	padding: 20px 0;
	margin: 5% 0;
	border: 1px groove black;
}
.img-container {
	width: 30%;
}
.my-pic {
	width: 100%;
	border-radius: 100%;;
}
.intro-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 2% 0;
	padding: 2% 0;
}
.intro {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	width: 40%;
	padding: 2%;
}
div.intro p {
	margin: 5% 0;
}

/*project styling*/

.project-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.project {
	display: flex;
	flex-flow: column nowrap;
	width: 20%;
	align-items: center;
	margin: 1%;
	text-align: center;
}
.project-img {
	width: 100%;
}

/*footer styling*/

footer {
	background: #cfa87a;
}
.contact-container {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	text-align: center;
}
.contact-tab2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8%;
	padding: 20px 0;
	margin-bottom: 1%;
	border: 1px groove black;
}
address {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	background: #cfa87a;
}
address a {
	font-style: normal;
	
}
address span {
	display: flex;
	align-items: center;
}
address img {
	width: 16px;
}

/*media styling*/

@media(max-width: 500px) {
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		text-align: center;
	}
	a {
		font-size: 2rem;
	}
	nav {
		display: flex;
		flex-direction: column;
		width: 35%;
		align-items: center;
	}
	nav a {
		width: 100%;
	}
	.intro-container {
		flex-direction: column;
		align-items: center;
	}
	.intro {
		display: flex;
		width: 80%;
		align-items: center;
		text-align: center;
		height: 80vh;
	}
	.projects-tab2 {
		width: 50%;
	}
	.project {
		width: 48%;
		margin: 5% 0;
	}
	footer {
		margin-top: 2%;
	}
	address {
		margin: 2% 0;
	}
	.contact-tab2 {
		width: 40%;
	}
	address span {
		font-size: calc(5px + .5rem);
	}
}

@media(max-width: 800px) {
	nav {
		width: 70%;
		align-items: center;
	}
	nav a {
		width: 25%;
	}
	.img-container {
		width: 50%;
	}
	.projects-tab2 {
		width: 50%;
	}
	.contact-tab2 {
		width: 20%;
	}
}

@media(max-width: 1400px) {
	nav {
		width: 50%;
	}
	.projects-tab2 {
		width: 30%;
		margin-left:2%;
	}
	.contact-tab2 {
		width: 15%;
	}
}